.topbar {
    width: 85%;
}
.topbar-title {
    position: absolute;
    top: 0;
    width: 40%;
    left: 18%;

    & h1 {
        @apply text-4xl;
        margin-top: 6vh;
        transition: all 0.35s ease-in-out;
    }

    & a {
        @apply text-lg;
        margin-top: 2px;
        color: #cccccc;
        transition: all 0.35s ease-in-out;
    }
}


.topbar-data {
    @apply text-lg;
    position: absolute;
    text-align:right;
    top: 0;
    right: 0;
    #defaultavatar {
        border: none;
        position: absolute;
        height: 65%;
        margin-top: 50%;
        right: 40%;
        border-radius: 100px;
    }
    & a {
        position: relative;
        margin-top: 70%;
        right: 120%;
    }
    & a:first-of-type {
        font-family: "gg sans SemiBold";
        color: #E3E925;
    }

}