@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gg sans";
  src: url(./assets/font/ggsans-Normal.ttf);
}

@font-face {
  font-family: "gg sans SemiBold";
  src: url(./assets/font/ggsans-Semibold.ttf);
}

@font-face {
  font-family: "gg sans Bold";
  src: url(./assets/font/ggsans-Bold.ttf);
}

:root {
  font-family: "gg sans" ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #313338;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
